/*east-theme.css*/
/*
    ____                        ____  ______________  __ __    __    __            __
   / __/________  ____ ___     ( __ )/ ___/__  / __ \/ // /   / /_  / /_____ ___  / /
  / /_/ ___/ __ \/ __ `__ \   / __  / __ \  / / / / / // /_  / __ \/ __/ __ `__ \/ / 
 / __/ /  / /_/ / / / / / /  / /_/ / /_/ / / / /_/ /__  __/ / / / / /_/ / / / / / /  
/_/ /_/   \____/_/ /_/ /_/   \____/\____/ /_/\____/  /_/ (_)_/ /_/\__/_/ /_/ /_/_/   
                                                                                     
 */                                                                                    

@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);
@import url(http://fonts.googleapis.com/css?family=Sanchez);
/* custom template */
html, body {
height: 100%;
font-family: 'Stint Ultra Expanded',sans-serif;
}
.bg-img{
background-image:url('https://noesisimg.s3.amazonaws.com/hackathon/shattered-island.jpg');
background-attachment:fixed;
width: 100%;
height: 100%;
z-index: -1;
opacity: .5
}
.wrapper, .row {
height: 100%;
margin-left:0;
margin-right:0;
}
.wrapper:before, .wrapper:after,
.column:before, .column:after {
content: "";
display: table;
}
.wrapper:after,
.column:after {
clear: both;
}
.column {
height: 100%;
overflow: auto;
*zoom:1;
}
@media (max-width: 768px){
	.column {
	height: 50%;
	}
}
.column .padding {
padding: 20px;
}
.box {
bottom: 0; /* increase for footer use */
left: 0;
position: absolute;
right: 0;
top: 0;
}
#main .img-circle {
margin-top:18px;
height:70px;
width:70px;
}
/* bootstrap overrides */

h1,h2,h3 {
font-weight:800;
font-family: 'Stint Ultra Expanded',sans-serif;
}
.text-caps{text-transform: uppercase;}
.navbar-nav>li {
font-size: 1em;
}
.navbar-default .navbar-nav>li>a {
color: #444;
}
.navbar-default .navbar-nav>li>a:hover {
color: yellow;
}
.navbar-default .navbar-brand {
color: #f15a29;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #f15a29;
background-color: yellow;
}
.navbar-default {
background-color: #E0E4CC;
border-color:none;
opacity: .9;
}
.jumbotron {
background-color:transparent;
}
.label-default {
background-color:#E0E4CC;
}
.page-header {
margin-top: 55px;
padding-top: 9px;
border-top:1px solid #eeeeee;
font-weight:700;
text-transform:uppercase;
letter-spacing:2px;
}
.col-sm-9.full {
width: 100%;
}
small.text-muted {
font-family:courier,courier-new,monospace;
}
.thumbnail {
margin-bottom:7px;
}
.thumbnail {
border: 1px solid #f15a29;
border-radius: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: .5em;
padding-right: .5em;
}
/* iframe stuff */
.east-img-container {
overflow: hidden;
}
.col-md-4,.col-md-7, .col-md-5{padding:0;}
.col-md-5{
background: #bf7b3f;
}
.column.col-sm-5{margin:0;padding: 0}
.iframe-container {
position: relative; /* keeps the aspect ratio */
padding-bottom: 56.25%; /* fine tunes the iframe positioning */
padding-top: 1em;
overflow: hidden;
margin-bottom: 1em;
}
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}