<form role="form">
    <div class="form-group">
        <input type="checkbox">&nbsp;Show as First Image
        <span class="pull-right">
            <input type="checkbox">&nbsp;Sold
        </span>

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
        <input type="" class="form-control" id="" placeholder="Title of art">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Enter a Short Description (Optional)"></textarea>
    </div>
    <div class="form-group">
        <select class="form-control" placeholder="Choose Mediums">
            <option>Choose Mediums</option>
            <option>paintings</option>
            <option>photography</option>
            <option>sculpture</option>
            <option>print</option>
            <option>jewelry</option>
            <option>clothing</option>
            <option>design/fabrication</option>
        </select>
    </div>
    <div class="form-group">
        <input type="" class="form-control" id="" placeholder="Enter Price">
    </div>
    <div class="form-group">
        <input type="" class="form-control" id="" placeholder="Enter a URL where a patron can buy">
    </div>
    <div class="form-group">
        <input type="" class="form-control" id="" placeholder="Size of art">
    </div>
    <div class="form-group">
        <input type="" class="form-control" id="" placeholder="Year Created">
    </div>
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>&nbsp;Save</button>
</form>