<div class="container">
	<div class="h4">Viewing
	    <span class="text-info">All</span>Venues
	    <button type="button" class="btn btn-primary">
		    <i class="fa fa-plus-circle"></i>
		    &nbsp;Add New Venue
	    </button>
	    <div class="  col-md-4 col-xs-12 input-group pull-right">
	        <span class="input-group-addon"><i class="fa fa-search"></i>
	        </span>
	        <input type="text" class="form-control" placeholder="Search by ID or Name">
	    </div>
	</div>
	<br />
	<div class="col-md-12 table-responsive">
	    <table class="table table-striped table-bordered table-hover">
	        <thead>
	            <!--Entire Row needs to be linkable to view the tier-->
	            <tr>
	                <th class="text-info">Site ID</th>
	                <th class="text-info">Name</th>
	                <th class="text-info">Primary Contact</th>
	                <th class="text-info">Address</th>
	                <th class="text-info">Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td>1</td>
	                <td class="text-left">Name of Venue</td>
	                <td class="text-left">Full Name @ <a href="mailto:">email@address.com</a>
	                </td>
	                <td class="text-left"><a href="#" target="_blank">123 Address<br />City, ST #####</a>
	                </td>
	                <td>
	                    <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> EDIT</button>
	                </td>
	            </tr>
	            <tr>
	                <td>2</td>
	                <td class="text-left">Name of Venue</td>
	                <td class="text-left">Full Name @ <a href="mailto:">email@address.com</a>
	                </td>
	                <td class="text-left"><a href="#" target="_blank">123 Address<br />City, ST #####</a>
	                </td>
	                <td>
	                    <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> EDIT</button>
	                </td>
	            </tr>
	            <tr>
	                <td>3</td>
	                <td class="text-left">Name of Venue</td>
	                <td class="text-left">Full Name @ <a href="mailto:">email@address.com</a>
	                </td>
	                <td class="text-left"><a href="#" target="_blank">123 Address<br />City, ST #####</a>
	                </td>
	                <td>
	                    <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> EDIT</button>
	                </td>
	            </tr>
	            <tr>
	                <td>3a</td>
	                <td class="text-left">Name of Venue</td>
	                <td class="text-left">Full Name @ 512-123-4567</td>
	                <td class="text-left"><a href="#" target="_blank">123 Address<br />City, ST #####</a>
	                </td>
	                <td>
	                    <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> EDIT</button>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>

	<!--Venue List Ends Here
	-->
	<br />
	<br />
	<br />
	<!--Venue List Begins Here
	-->
	<div class="container">
	    <div class="h4">Viewing
	        <span class="text-info">All</span>People
	        <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add New PERSON</button>
	        <div class="  col-md-4 col-xs-12 input-group pull-right">
	            <span class="input-group-addon"><i class="fa fa-search"></i>
	            </span>
	            <input type="text" class="form-control" placeholder="Search Name">
	        </div>
	    </div>
	    <br />
	    <div class="col-md-12 table-responsive">
	        <table class="table table-striped table-bordered table-hover">
	            <thead>
	                <!--Entire Row needs to be linkable to view the tier-->
	                <tr>
	                    <th class="text-info">Avatar</th>
	                    <th class="text-info">Name</th>
	                    <th class="text-info">Role</th>
	                    <th class="text-info">Primary Contact</th>
	                    <th class="text-info">Status</th>
	                    <th class="text-info">Actions</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td>
	                        <img data-src="" src="http://www.oeic.us/img/site/icons/default_avatar.gif" class="img-circle" alt="" style="width: 75px; height: 75px;">
	                    </td>
	                    <td class="text-left">Firstname Lastname</td>
	                    <td>
	                        <label for="select">Select</label>
	                        <select class="form-control" id="select">
	                            <option>Artist</option>
	                            <option>Staff</option>
	                            <option>Patron</option>
	                        </select>
	                    </td>
	                    <td>
	                        512-123-4567
	                    </td>
	                    <td>
	                        <label for="select">Select</label>
	                        <select class="form-control" id="select">
	                            <option>Active</option>
	                            <option>Pending</option>
	                            <option>Suspended</option>
	                        </select>

	                    </td>
	                    <td>
	                        <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> EDIT</button>
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        <img data-src="" src="http://www.oeic.us/img/site/icons/default_avatar.gif" class="img-circle" alt="" style="width: 75px; height: 75px;">
	                    </td>
	                    <td class="text-left">Firstname Lastname</td>
	                    <td>
	                        <label for="select">Select</label>
	                        <select class="form-control" id="select">
	                            <option>Artist</option>
	                            <option>Staff</option>
	                            <option>Patron</option>
	                        </select>

	                    </td>
	                    <td>
	                        <a href="mailto:">email@address.com</a>
	                    </td>
	                    <td>
	                        <label for="select">Select</label>
	                        <select class="form-control" id="select">
	                            <option>Active</option>
	                            <option>Pending</option>
	                            <option>Suspended</option>
	                        </select>
	                    </td>
	                    <td>
	                        <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> EDIT</button>
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        <img data-src="" src="http://www.oeic.us/img/site/icons/default_avatar.gif" class="img-circle" alt="" style="width: 75px; height: 75px;">
	                    </td>
	                    <td class="text-left">Firstname Lastname</td>
	                    <td>
	                        <label for="select">Select</label>
	                        <select class="form-control" id="select">
	                            <option>Artist</option>
	                            <option>Staff</option>
	                            <option>Patron</option>
	                        </select>

	                    </td>
	                    <td>
	                        512-123-4567
	                    </td>
	                    <td>
	                        <label for="select">Select</label>
	                        <select class="form-control" id="select">
	                            <option>Active</option>
	                            <option>Pending</option>
	                            <option>Suspended</option>
	                        </select>
	                    </td>
	                    <td>
	                        <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> EDIT</button>
	                    </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>

	    <!--People List Ends Here
	-->
	    <br />
	    <br />
	    <br />
	    <!--Editing Venue Starts Here
	-->



	    <div class="panel panel-default col-md-12">
	        <h2>Add/Edit Venue</h2>

	        <div class="col-md-6">

	            <form role="form">
	                <div class="form-group">
	                    <label for="name">Name of the Venue</label>
	                    <input type="name" class="form-control" id="name" placeholder="">
	                </div>
	                <div class="form-group">
	                    <label for="picture">URL of Image</label>
	                    <input type="picture" class="form-control" id="picture" placeholder="e.g. http://www.arteventwebsite.com/image.png">
	                </div>
	                <!--  Display image below. This can change and maps to what users define as their primary/first image-->
	                <img class="col-md-6 col-sm-12 img-responsive" src="http://eastaustinstudiotour.com/images/2013/artist_images/scott_rolfe_1.jpg" />

	                <!--  Google Maps Directive from Angular Strap-->

	                <div class="form-group">
	                    <label><i class="fa fa-home"></i> Address</label>
	                    <input type="text" class="form-control" ng-model="selectedAddress" data-animation="am-flip-x" ng-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Type in address" bs-typeahead>
	                </div>
	                <div class="form-group">
	                    <label for="twitter">Social URL</label>
	                    <!--       <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
	-->
	                    <input type="twitter" class="form-control" id="twitter" placeholder="Enter Twitter Handle Name">
	                </div>
	                <a href=""><i class="fa fa-plus-circle"></i> Add Another URL</a>
	                <br />
	                <br />
	                <div class="form-group">
	                    <label for="mail">Email Address</label>
	                    <input type="mail" class="form-control" id="mail" placeholder="">
	                </div>
	                <div class="form-group">
	                    <label for="phone">Phone</label>
	                    <input type="phone" class="form-control" id="phone" placeholder="">
	                </div>
	                <div class="form-group">
	                    <label for="select">Category</label>
	                    <select class="form-control" id="select">
	                        <option>Artists & Studios</option>
	                        <option>Events</option>
	                        <option>Exhibitions</option>
	                    </select>
	                </div>
	                <!--Angular/Strap TypeAhead/MultiSelect Directive. Search Mediums
	-->
	                <div class="form-group">
	                    <label>Mediums</label>
	                    <br />
	                    <button type="button" class="btn btn-default" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="icon.value as icon.label for icon in icons" bs-select>
	                        Select all that apply
	                        <span class="caret"></span>
	                    </button>
	                </div>
	                <div class="form-group">
	                    <label>Description</label>
	                    <br />
	                    <textarea class="form-control" rows="3" id="textArea"></textarea>
	                </div>
	                <!--Angular/Strap TypeAhead/MultiSelect Directive. Search Person ID
	-->
	                <div class="form-group">
	                    <label>Artists</label>
	                    <br />
	                    <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add New PERSON</button>
	                    <h4 class="text-muted ">or</h4>
	                    <button type="button" class="btn btn-default" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="icon.value as icon.label for icon in icons" bs-select>
	                        Select People
	                        <span class="caret"></span>
	                    </button>
	                </div>
	                <!--Angular/Strap TypeAhead, Single Select Directive. Search Person ID
	-->
	                <div class="form-group">
	                    <label>Manager</label>
	                    <br />
	                    <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" ng-options="icon.value as icon.label for icon in icons" bs-select>
	                        Select Person
	                        <span class="caret"></span>
	                    </button>

	                </div>
	                <h5 class="text-info">Parking</h5>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Official parking for the disabled
	                    </label>
	                </div>
	                <br />
	                <h5 class="text-info">Entrance and interior</h5>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Minimum 32” doorway clearance space
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Entry way without stairs, no lip & with a ramp
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Path around studio with minimum 36” width
	                    </label>
	                </div>
	                <br />
	                <h5 class="text-info">Restrooms</h5>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Entry way with minimum 36” wide clearance space
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Minimum 56x60 inch clearance space for toilet
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Grab bars
	                    </label>
	                </div>
	                <br />
	                <h5 class="text-info">Other</h5>
	                <div class="checkbox">
	                    <label class="text-muted">
	                        <input type="checkbox">Braille or raised letter signage
	                    </label>
	                </div>


	                <button type="submit" class="btn btn-default">Submit</button>
	            </form>
	        </div>
	    </div>
	</div>
	<!--Editing Venue Ends Here
	-->

	<!--Create/Edit Artist/Participant Account Starts Here
	-->

	<div class="panel panel-default col-md-12">
	    <h3>Create Your Account</h3>
	    <div class="col-md-5 pull-left">
	        <!-- Social authentication could go here
	      -->
	        <a class="btn btn-default" href="/register?action=twitter" rel="nofollow"><i class="fa fa-twitter-square"></i> Login with Twitter</a>
	        <br />
	        <br />
	        <a class="btn btn-default" href="#" onclick="return BI.FB_Core.login()"><i class="fa fa-facebook-square"></i> Login with Facebook</a>
	        <br />
	        <br />
	        <a class="btn btn-default" id="gplus_register_button" rel="nofollow" data-gapiattached="true"><i class="fa fa-google-plus-square"></i> Login with Google</a>
	    </div>
	    <div class="center-block">
	        <h4 class="text-muted">or</h4>
	    </div>
	    <div class="col-md-6 pull-right">
	        <form role="form">

	            <div class="form-group">
	                <label for="name">Full Name</label>
	                <input type="name" class="form-control" id="name" placeholder="">
	            </div>
	            <div class="form-group">
	                <label for="mail">Email Address</label>
	                <input type="mail" class="form-control" id="mail" placeholder="">
	            </div>
	            <div class="form-group">
	                <label for="password">Password</label>
	                <input type="password" class="form-control" id="password" placeholder="">
	            </div>
	            <div class="form-group">
	                <label for="password">Corfirm Password</label>
	                <input type="password" class="form-control" id="password" placeholder="">
	            </div>

	            <button type="submit" class="btn btn-default">CREATE ACCOUNT</button>
	        </form>
	    </div>
	</div>
</div>
