<div class="navbar-default" id="sponsors">
    <div class="row">
      <div class="col-md-6 col-sm-6">
            <div class="col-md-2 col-xs-2"><span class="stint-font">PARTNERS</span><a href="http://library.austintexas.gov/"><img class="img-responsive" src="https://noesisimg.s3.amazonaws.com/hackathon/photo.jpg"></div>
            <BR><div class="col-md-2 col-xs-2"><a href="http://capitolviewarts.org/"><img class="img-responsive" src="https://noesisimg.s3.amazonaws.com/hackathon/capitolviewarts.jpg" ></a></div>
            <div class="col-md-2 col-xs-2"><a href="http://www.artallianceaustin.org/"><img class="img-responsive" src="https://noesisimg.s3.amazonaws.com/hackathon/ArtAlliance_Logo.jpg"></a></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-2 col-xs-2"></div><br><Br><Br>
      </div>
      <div class="col-md-6 col-sm-6">
            <div class="col-md-2 col-xs-2"><span class="stint-font">SPONSORS</span><a href="http://www.austinchronicle.com/"><img class="img-responsive" src="https://noesisimg.s3.amazonaws.com/hackathon/Austin_Chronicle.svg"></a></div>
            <BR><div class="col-md-2 col-xs-2"><a href="http://www.klru.org/"><img class="img-responsive" src="http://noesisimg.s3.amazonaws.com/hackathon/KLRU_Logo.svg"></a></div>
            <div class="col-md-2 col-xs-2"><a href="hhttp://immediatag.com/"><img class="img-responsive" src="http://noesisimg.s3.amazonaws.com/hackathon/imt.png"></a></div>
            <div class="col-md-2 col-xs-2"><a href="http://austin.culturemap.com/"><img class="img-responsive" src="http://noesisimg.s3.amazonaws.com/hackathon/CM-Logo.jpg"></a></div>
        <div class="col-md-2 col-xs-2"><a href="http://titosvodka.com/"><img class="img-responsive" src="http://noesisimg.s3.amazonaws.com/hackathon/114.jpg"></a></div>
        <div class="col-md-2 col-xs-2"><a href="http://www.kindsnacks.com/"><img class="img-responsive" src="http://noesisimg.s3.amazonaws.com/hackathon/KIND_Snacks.svg"></a></div>
      </div>
      </div>
</div>


<div class="navbar-default">

      <div class="row"><br>

        <div class="col-md-7">




    <a class="exp" tabindex="1"><span class="stint-font white-font">THANKS</span></a>
    <div class="exp">
      <strong>FUNDERS</strong><br>
              City of Austin<br>
              Texas Commission on the Arts<br>
              <strong><br>
              </strong><strong>INDIVIDUAL SPONSORS</strong><br>
                Desmond Ng and Donald Mason<br>
                Elisa and Joel Sumner<br>
                Michael and Wendy Arbuckle<br>
                Steve Redman<br>
              <strong><br>
              </strong><strong>SPECIAL THANKS</strong><br>
                Kirk Anders<br>
                David Barrow<br>
                Kim Beale<br>
                April Burcham<br>
                Jeremy Burks<br>
                Jaime Castillo<br>
                Chris Coakley<br>
                Kevin Collins<br>
                Shara Funari<br>
                Clifford Gillard<br>
                Asa Hursh<br>
                Bill Jeffers<br>
                Julie Konvicka<br>
                Keith Kreeger<br>
                Jaelah Kuehmichel<br>
                Daryl Kunik<br>
                Jon Lawrence<br>
                Amber LeFrance<br>
                Kevin McNamee-Tweed<br>
                Ryan McKerley<br>
                Philip Nadasdy<br>
                Frank X. O'Leary<br>
                Joseph Pagano<br>
                Karina Persson<br>
                Meredith Powell<br>
                Joe Rizzo<br>
                Bill Roberts<br>
                Carlos Rodriguez-Brondo<br>
                Cindy Salome<br>
                Mano Samayoa<br>
                Scott Saunders<br>
                Stephanie Scherzer<br>
                Michael Schliefke<br>
                Eve Tarlo<br>
                Jason Tuggle<br>
                Heather Wagner-Reed<br>
                Amanda Winkles<br>
                Danny Witte<br>
                Leigh Wyatt<p></p>


            <strong>PARTNERS</strong><br>
                Art Alliance Austin<br>
                Austin Public Library<br>
                Capitol View Arts<br>
                <strong><br>
                </strong><strong>SPONSORS</strong><br>
                Austin Chronicle<br>
                KLRU<br>
                CultureMap<br>
                Immediatag<br>
                Austin Monthly<br>
                Tito's Handmade Vodka<br>
                St. Arnold Brewing Company<br>
                Austin Eastciders<br>
                Yellow Jacket Social Club<br>
                Hillside Farmacy<br>
                Rio's Brazilian Cafe<br>
                Gourmands<br>
                DJ Gabe Vaughn<br>
                Nature's Treasures<br>
                <strong><br>
                </strong><strong>ADVERTISERS</strong><br>
                Armadillo Christmas Bazaar<br>
                Art in Public Places<br>
                Art Profiler<br>
                Austin Art Services<br>
                Bearded Lady<br>
                Birds Barbershop<br>
                Blanton Museum of Art<br>
                Blue Genie - Danger Derby<br>
                Cass Hook<br>
                Cypress Real Estate<br>
                D&amp;J Blueline<br>
                D-Crain Design<br>
                Deanna Miesch<br>
                E3 Properties<br>
                East Side Pies<br>
                Emily Little<br>
                FAB Architecture<br>
                Farmhouse Delivery<br>
                Flatbed Press<br>
                Gallery Shoal Creek<br>
                Goodwill Industries<br>
                grayDUCK<br>
                Harry Ransom Center<br>
                Hillside Farmacy<br>
                Industry Print Shop<br>
                Ines Batllo<br>
                Jerry's Artarama<br>
                Jobe Fabrications<br>
                Julie Isaacson<br>
                Justine's Brasserie<br>
                Karen Maness<br>
                Keith Kreeger<br>
                Kincannon Studios<br>
                Linda Bagwell<br>
                Mary Hunter<br>
                Michael Hsu Architecture<br>
                Natural Gardener<br>
                Newcastle Homes<br>
                Parts and Labour<br>
                Pauly Presley Realty<br>
                Photo Methode<br>
                Rio's Brazilian Cafe<br>
                Room Service Vintage<br>
                Shanny Lott<br>
                Sherry Smith Marketing<br>
                Skout Real Estate<br>
                Skylark Lounge<br>
                Sparkle Tech<br>
                Take Heart<br>
                The Contemporary Austin<br>
                Tony Senecal<br>
                Triple Mint Real Estate<br>
                Truman Mays<br>
                Uncommon Objects<br>
                Wally Workman Gallery<br>
                Wet Whistle<br>
                Yellow Jacket Social Club
    </div>
    <br>
    <a style="background:#ed145b" class="exp" tabindex="2"><span class="stint-font white-font">TOUR INFO</span></a>
    <div class="exp">
            <p>Big Medium is proud to present the 12th East Austin Studio Tour! EAST is a free, self-guided tour that champions the abundance of talent within Austin's large and wildly diverse creative community. The public is invited to discover new artistic talent, see working studios, learn about artists' tools, techniques, and inspirations, and support the arts community by building their collections and supporting local businesses.</p>
              <p><strong>EAST AUSTIN STUDIO TOUR DATES &amp; HOURS</strong><br>
                NOV 16-17 + 23-24, 2013<br>
              11am-6pm</p>
              <p><strong>ARTISTS + STUDIOS</strong><br>
                NOV 16-17 + 23-24, 2013<br>
                11am-6pm<br>
              Artists &amp; Studios are where the creativity begins. For many of these spaces, this is the only time during the year that you can get a rare glimpse into the process, mind and inspiration of the artist.</p>
              <p><strong>EXHIBITIONS</strong><br>
                NOV 16-17 + 23-24, 2013<br>
                11am-6pm<br>
              Exhibitions take place in established venues such as galleries, project spaces, theaters, and museums, whose objective is to exhibit visual art or performances.</p>
              <p><strong>HAPPENINGS</strong><br>
                NOV 16-17 + 23-24<br>
                Various dates &amp; times<br>
              Happenings include an eclectic mix of pop-up venues, art parties, creative programming, out-of-the-box events, art competitions, traveling performances,  site-specific installations, and more that occur at various times throughout the tour.</p>
              <p><strong>MOBILE SITE</strong><br>
              The EAST 2013 web app is a free mobile companion to the EAST catalog. Search for artists/events by type, location, and medium, then add your favorites to your My EAST list. No downloads or registration required! Visit: m.eastaustinstudiotour.org</p>
              <p><strong>COLLECTIVE COURTESY</strong><br>
              Please keep in mind that many EAST studios are in residential areas. Our neighbors have been very gracious and welcoming to tour visitors over the years, and it's important to respect and reciprocate that hospitality. Please don't be too loud or cause disturbances; avoid leaving any trash behind and drive &amp; park your cars thoughtfully.</p>
              <p><strong>ACCESSIBILITY</strong><br>
                Please refer to our online catalog. Under each EAST participant listing in the catalog is a helpful Americans with Disabilities Act (ADA) graphic. Each rectangle within the graphic corresponds to a different accessibility feature that is or is not available at the participant's location.<br>
              </p>
              <p><strong>DISCLAIMER</strong><br>
              The EAST &amp; WEST catalogs and websites are an evolving representation of all Austin artists who participate in the tours and the work they create. EAST does not set any content guidelines for artists or exercise any predetermined censorship when producing the EAST and WEST catalogs. We ask you to please be aware that the catalogs may contain some images with sexual content, nudity, and violence. We understand that some people may ﬁnd certain images in the catalog controversial. We respect those opinions and are always open to community feedback. Simply, we continuously arrive at a single point, to uphold the freedom of expression and artistic creativity.</p>
              <strong>CATALOG/EAST CORRECTIONS</strong><br>
              1) COBRA Group show (47.2) is on Saturday November 16th at 6-11pm, not the 17th.<br>
              2) POSTPONED: Stop 151a, Whatever Lola Co-Lab Project Space, 613 Allen Performance, moved to Fri December 6th, 8-10pm<br>
                  Co-Lab Project Space featuring Conspectus : Two Thousand Thirteen reception still occurring November 23rd, 7-11pm <br>
        <br>
              EAST TEAM</span><br><br>
              Director: Shea Little<br>
              Program Coordinators: Jana Swec, Jon Windham<br>
              Production Crew: Jordan Gentry, Roze Braunstein, Philip Nadasdy<br>
              Design: Jana Swec, Jon Windham, Shea Little<br>
              Advertising: Jess Jones<br>
              Event Coordinator: Jordan Gentry<br>
              Volunteer Coordinator: Amy Barton<br>
              Website Design: Jon Windham, Jana Swec<br>
              Sponsor Development: Juice Consulting<br>
              Mobile Development: Immediatag<br>
              Volunteers: Joe Rizzo, Julie Konvicka, Jaelah Kuehmichel
              <p><span class="stint-font"><br>BIG MEDIUM</span><br><br>
              Big Medium is a non-profit 501(c)(3) arts organization based in Austin, Texas, whose mission is to support the visual arts and artists in Texas. Big Medium proudly produces the East Austin Studio Tour, West Austin Studio Tour and the Texas Biennial, as well as exhibiting innovative contemporary gallery programming in the Big Medium Galleries, providing affordable studio space for artists, and seeking opportunities with various arts organizations and artists to initiate and support unique and creative projects.</p>
            <p><span >For over 10 years, and in more ways than one, Big Medium off of Bolm Road was a home: made by artists and sustained by artists, loose-reigned, built from scratch, and it continues to transform and flourish with a constant flux of fresh minds and ideas. Last spring, Big Medium expanded to the newly renovated Canopy complex at 916 Springdale Road, enabling us to offer a broader variety of studio, exhibition, and event spaces to Austin's ever-growing creative community. The new space and programming is reflective of Big Medium's ambition to see the arts continue to grow and thrive in Austin.</span><br>
              <br>
    </div><br>

              </div>







              <div class="col-md-5">
                <a style="background:#6DCFF7;" class="exp" tabindex="3"><span class="stint-font white-font" style="color:#FFF">SUPPORT EAST</span></a>
    <div class="exp">
                <p>The East Austin Studio Tour is sustained by the community, and just as we are invested in helping our community to grow, we need support to succeed. Your contribution helps us promote the studio tour and increase our audience through intelligent marketing, supporting the production of the beautiful EAST catalog, providing tour fellowships to artists, covering installation and event costs, and much more.</p><Br>
                <select class="form-control form-group">
                  <option>INDIVIDUAL - $20 and above</option>
                  <option>DUO - $35 and above</option>
                  <option>GROUP - $100 and above</option>
                  <option>FELLOWSHIP - $250 and above</option>
                  <option>PARTNER - $500 and above</option>
                  <option>COMMUNITY - $1,000 and above</option>
                  <input type="text" class="form-control" placeholder="$ Dollars"><Br>
                  <p>How would you like your name(s) to appear on our website and other materials? If you prefer to remain anonymous, please type in "Anonymous" (however we will be unable to reserve materials or tickets in your name).</p>
                  <input type="text" class="form-control" placeholder="Name">
                </select><br>
                <p>Do you prefer to receive your tax receipt by email or mail?</p>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Email
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Mail
                  </label><br><br>
                  <input type="text" class="form-control" placeholder="Email"><br>
                  <input type="text" class="form-control" placeholder="Company Name, if any">
                  <div class="form-group"><br>
                  <!--  Google Maps Directive from Angular Strap-->
                      <label><i class="fa fa-home"></i> Address </label>
                      <input type="text" class="form-control" ng-model="selectedAddress" data-animation="am-flip-x" ng-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Type in address" bs-typeahead>
                    </div>
                    <input type="text" class="form-control" placeholder="Phone"><br>
                <p>Thank you for considering the following EAST 2013 support opportunities! Every contribution is meaningful and will be recognized on the EAST website.</p>
                <div class="form-group">

                  <button type="submit" class="btn btn-default">Support East</button>

              </div>
              </div>

      </div>
    </div>
</div>
<div class="navbar-default">
  <div class="row small-font">

    <div class="col-md-8"><Br>
      <div class="col-md-2"><center><img src="http://noesisimg.s3.amazonaws.com/hackathon/coalogos.jpg"></center>
      </div>
      <div class="col-md-10"><Br>Big Medium is funded and supported in part by the City of Austin through the Cultural Arts Division and by a grant from the Texas Commission on the Arts and an award from the National Endowment for the Arts, which believes that a great nation deserves great art.
      </div>
    </div>


    <div class="col-md-4"><Br>
      <div class="col-md-10 col-sm-10 col-xs-10">
      <strong><a class="stint-font" href="http://www.bigmedium.org/">bigmedium.org</a></strong><br>
      <strong><a class="stint-font" href="mailto:east@bigmedium.org">east@bigmedium.org</a></strong><br>
      512-939-6665<br>
      916 Springdale Rd, Bldg 2, #101<br>
      Austin, TX 78702<br><br>
      </div><br>

      <div class="col-md-2 col-sm-2"><a href="https://www.facebook.com/bigmedium"><i class="fa fa-facebook-square fa-3x"></i></a><Br><a href="https://twitter.com/BigMedium"><i class="fa fa-twitter-square fa-3x"></i></a>
      </div>
    </div>

  </div>
</div>