<div class="row">
    <div class="col-md-5" ng-controller="MapCtrl">
        <google-map class="" center="map.center" zoom="map.zoom" options="mapOptions" draggable="true"></google-map>
    </div>
	<div class="col-md-7">
		<div class="row">
			<a href="#!/image" class="btn btn-primary btn-block">
				<i class="fa fa-fw fa-lg fa-camera-retro"></i>
				Add new art to my gallery
			</a>
		</div>
		<div class="row emTop galleryView">
			<gallery class="col-md-12"></gallery>
		</div>
	</div>
	<hr>
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530045051734a9b9"></script>
	<!-- AddThis Button END -->
</div>

