<div class="clearfix fullY row ">
    <div class="col-md-5 fullY ">
        <google-map class="fullY " center="map.center" zoom="map.zoom" options="mapOptions"></google-map>
    </div>
    <div class="col-md-7 "style="padding-top:130px">
		<div class="row">
			<div class="col-lg-3 col-sm-4 ">			   
				<div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-1.jpg" class="thumbnail img-responsive ">
				</div>			
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-2.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-3.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-4.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-5.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-6.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-7.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			<div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-1.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-2.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-3.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-4.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-5.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			   <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-6.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
			 <div class="col-lg-3 col-sm-4 ">
			    <div class="single-box">
					<div class="overlay">
						<div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span> </div> 
						<div class="col-xs-10"><span>Scott Rolfe<br> 1344 Address St.</span></div>
						<div class="col-xs-1"><span class="glyphicon glyphicon-heart"></span> </div>
					</div>
					<img src="images/img-7.jpg" class="thumbnail img-responsive ">
				</div>	
			</div>
		</div>
    </div>
</div>
