<div class="clearfix row fullY">
    <div class="col-md-5 fullY" ng-controller="MapCtrl">
        <google-map class="" center="map.center" zoom="map.zoom" options="mapOptions"></google-map>
    </div>
    <div class="column col-sm-7">
        <div class="col-lg-12 single-box-outer">

                <!-- MENU Medium -->
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-2.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-3.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-4.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-5.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-6.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-7.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-1.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-2.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="http://d13yacurqjgara.cloudfront.net/users/198559/screenshots/1066756/falsefacemask4.png" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-4.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-5.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-6.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-7.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-5.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div class="single-box-outer">
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-6.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 ">
                    <div>
                        <div class="single-box">
                            <div class="overlay">
                                <span class="pull-right fa fa-heart fa-2x fa-fw">
                                    <span class="heart-num absolute-center">23</span>
                                </span>
                                <span class="name-address">
                                    <p><a href="#">Scott Rolfe</a>
                                        <br>1344 Address St</p>
                                </span>
                            </div>
                            <img src="images/img-7.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
