<hr>
<div class="col-xs-12 single-box-outer">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div style="position:relative" class="text-center">
                <img src="http://d13yacurqjgara.cloudfront.net/users/198559/screenshots/1087003/iroquois_falseface5.png" class="img-responsive ">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <form role="form">
                <div class="row">
                    <label class="pull-left">
                            <input type="checkbox">&nbsp;Show as First Image
                    </label>
                    <label class="pull-right">
                            <input type="checkbox">&nbsp;Sold
                    </label>
                </div>
                <div class="form-group">
                    <input type="" class="form-control" id="" placeholder="Title of art">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Enter a Short Description (Optional)"></textarea>
                </div>
                <div class="form-group">
                    <select class="form-control" placeholder="Choose Mediums">
                        <option>Choose Mediums</option>
                        <option>paintings</option>
                        <option>photogrphy</option>
                        <option>sculpture</option>
                        <option>print</option>
                        <option>jewelry</option>
                        <option>clothing</option>
                        <option>design/fabrication</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="" class="form-control" id="" placeholder="Enter Price">
                </div>
                <div class="form-group">
                    <input type="" class="form-control" id="" placeholder="Enter a URL where someone can purchase">
                </div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-share">&nbsp;</i>Update</button>
                <a href="#!/plate" class="btn btn-warning btn-sm"><i class="fa fa-file-text-o">&nbsp;</i>Name Plate</a>
                <a class="btn btn-danger btn-sm"><i class="fa fa-file-text-o">&nbsp;</i>Cancel/Delete</a>
            </form>
        </div>
    </div>
</div>