<div class="clearfix fullY row">
    <div class="col-md-6 fullY">
        <google-map class="fullY" center="map.center" zoom="map.zoom" options="mapOptions"></google-map>
    </div>
    <div class="col-md-6">
		<!-- main -->
		<div class="column " id="main">
		  <br>
		  <div class="row">
		    <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-1.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-2.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-3.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-4.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-5.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-6.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-7.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-1.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-2.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-3.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-4.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-5.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-6.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-7.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		    <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-1.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-2.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-3.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-4.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-5.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-6.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-7.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		    <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-1.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-2.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-3.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-4.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-5.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-6.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-7.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		    <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-1.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-2.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-3.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-4.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-5.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-6.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-7.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		    <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-1.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-2.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-3.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-4.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-5.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-6.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		     <div class="col-lg-3 col-sm-4 ">
		        <a href="#">
		             <img src="..images/img-7.jpg" class="thumbnail img-responsive">
		        </a>
		    </div>
		  </div>
		  <br><br>
		</div>
		<!-- /main -->
    </div>
</div>
