<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle btn-primary pull-left" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="pull-right fa fa-heart fa-2x fa-fw hidden-md hidden-lg" style="margin-top:10px">
            <span class="heart-num absolute-center">23</span>
        </span>
        <button class="btn btn-primary pull-right hidden-md hidden-lg" style="margin-top:10px">
            <i class="fa fa-search fa-fw"></i>
        </button>
        <a class="navbar-brand" href="/"><img src="https://noesisimg.s3.amazonaws.com/hackathon/EAST-logo.svg" alt="EAST logo" style="height:3em"></a>
    </div>
    <div class="collapse navbar-collapse" style="max-height: 370px;">
        <span class="east-date navbar-left stint-font">Nov. 16-17 + 23-24, 2014</span>
        <form class="navbar-form navbar-right hidden-sm hidden-xs">
            <button type="button" class="btn btn-primary btn-sm ">
                <span class="fa fa-heart fa-fw "></span>
                My E.A.S.T.
            </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Artists</a></li>
            <li><a href="#!/exhibitions">Exhibitions</a></li>
            <li><a href="#!/events">Events</a></li>
            <li><a href="#!/sponsors">Sponsors</a></li>
            <li><a href="#!/info">Info</a></li>
        </ul>
        <form class="navbar-form navbar-right visible-xs visible-lg visible-xl" role="search"
            style="margin-bottom:0;margin-top: 12px;">
            <select class="selectpicker" ng-model="searchOption" multiple data-selected-text-format="count>1"
                data-live-search="true" title="Search by Medium">
                <option ng-repeat="medium in mediums" data-content="{{medium.html}}">{{medium.name}}</option>
            </select>
        </form>
    </div>
    <script>
        setTimeout(function()
        {
            $('.selectpicker').selectpicker();
        },200);
    </script>
    <!--/.nav-collapse -->
</div>