<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle btn-primary pull-left" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="pull-left h3 visible-xs visble-md" style="color:#6dcff6;margin-top:15px;font-size:1.1em">
            East Austin Studio Tour
        </span>
        <span class="pull-right fa fa-heart fa-2x fa-fw visible-xs visble-md" style="margin-top:10px">
            <span class="heart-num absolute-center">23</span>
        </span>
        <button class="btn btn-primary pull-right visible-xs visble-md" style="margin-top:10px"
            data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-search fa-fw"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <div style="height:70px;padding:5px" class="hidden-xs">
            <a href="/">
                <img src="https://noesisimg.s3.amazonaws.com/hackathon/EAST-logo.svg" alt="EAST logo" style="height:82px">
            </a>
            <h2 class="pull-right" style="margin-top:0;margin-left:20px">Nov. 16-17 + 23-24, 2014</h2>
            <br>
            <span class="navbar-left stint-font" style="margin-left:5px;margin-top:-4px;font-size:0.9em">
                East Austin Studio Tour
            </span>
        </div>
        <div style="margin-top: -20px;position: absolute;right: 10px;" class="hidden-xs">
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-primary btn-sm ">
                    <span class="fa fa-heart fa-fw "></span>
                    My E.A.S.T.
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#!/artists">Artists</a></li>
                <li><a href="#!/exhibitions">Exhibitions</a></li>
                <li><a href="#!/events">Events</a></li>
                <li><a href="" scroll-to="#sponsors" offset="0" container="body">Sponsors&nbsp;&&nbsp;Info</a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-xs hidden-sm" role="search">
                <input type="text" class="form-control" ng-keyup="setSearchVenue($event)" style="margin-bottom:10px"
                    ng-model="searchModel" data-html="1" data-min-length="0" ng-keyup="setSearchVenue($event)"
                    placeholder="Search for Venues" bs-typeahead ng-options="medium.name as medium.html for medium in mediums">
            </form>
        </div>
        <div class="visible-xs">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <input type="text" class="form-control" ng-keyup="setSearchVenue($event)" style="margin-bottom:10px"
                    ng-model="searchModel" data-html="1" data-min-length="0" ng-keyup="setSearchVenue($event)"
                    placeholder="Search for Venues" bs-typeahead ng-options="medium.name as medium.html for medium in mediums">
                </li>
                <li class="active"><a href="#!/artists">Artists</a></li>
                <li><a href="#!/exhibitions">Exhibitions</a></li>
                <li><a href="#!/events">Events</a></li>
                <li><a href="" scroll-to="#sponsors" offset="0" container="body">Sponsors&nbsp;&&nbsp;Info</a></li>
            </ul>
        </div>
    </div>
    <!--/.nav-collapse -->
</div>