<hr>
<div class="col-lxs-12 single-box-outer">
    <div class="social-card">
        <button type="button" class="close" style="z-index:2" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="pull-right fa fa-heart fa-2x fa-fw">
            <span class="heart-num absolute-center">23</span>
        </span>
        <span class="name-address">
            <span><a href="#">Scott Rolfe</a>
                <br>1344 Address St
                <a href="#">
                    <small><i class="fa fa-wrench"></i>
                    </small>
                </a>
            </span>
        </span>
        <span class="badge ">EAST #5</span>
        <br>
        <br>
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-9">
                        <h3>
                            <small>
                                <em>1-1</em>
                            </small>
                            <strong>Title of Art</strong>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        <ul class="list-inline">
                            <li>
                                <small class="label label-warning">Acrylic Paint</small>
                            </li>
                            <li>
                                <span class="stint-font">Price:</span>
                                <strong>$450</strong>
                            </li>
                            <li><a href="" target="_blank">www.etsy.com/</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-sm-3">
                        <a href="#" target="_blank">
                            <img src="images/qrcode.svg" class="img-responsive" style="min-height:300px">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <hr>
                    <ul class="list-inline nav-justified">
                        <li><a href=""><i class="fa fa-phone"></i> 512.546.3434</a>
                        </li>
                        <li><a href="" target="_blank"><i class="fa fa-envelope"> email@address.com</i></a>
                        </li>
                        <li><a href="" target="_blank"><i class="fa fa-globe"></i> Scott.com</a>
                        </li>
                        <li><a href="" target="_blank"><i class="fa fa-facebook-square"></i> /ScottRolfe</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
