<style type="text/css">
.single-box{position: relative;}
.overlay{
color: #666;
position: absolute;
top: 0;
left: 0;
padding: 1em;
width: 100%;
background: -webkit-linear-gradient( #fff,rgba(0,0,0,0)); /* For Safari */
background: -o-linear-gradient( #fff,rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient( #fff,rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
background: linear-gradient( #fff,rgba(0,0,0,0)); /* Standard syntax */
z-index: 1;
}
</style>
<br><br><br><br><br><br>

<div class="col-md-4">
	<div class="single-box">
		<div class="overlay">
			<div class="col-xs-2"><span class="glyphicon glyphicon-map-marker"></span> </div> 
			<div class="col-xs-8"><span>Scott Rolfe<br> 1344 Address St.</span></div>
			<div class="col-xs-2"><span class="glyphicon glyphicon-heart"></span> </div>
		</div>
		<img src="images/img-2.jpg" class="thumbnail img-responsive ">
	</div>
</div>